<div class="container text-muted">
    <div class="row mx-5">
        <div class="col text-center">
            <h1>ABOUT ME</h1>
        </div>
        <div class="col ">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae explicabo porro distinctio dolor similique quam ea numquam animi minima, dicta ut, dolore ab unde possimus accusamus quos sequi aspernatur?</div>
            <button class="btn btn-secondary my-3">Dowenlod Resume</button>
        </div>
    </div>
</div>
