<div class="container-fluid bg-secondary ">
    <div class="all pt-5 pb-5 text-white">
        <div class="head ">
            <h1 class="text-center"> SKILLS </h1>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat minima, blanditiis explicabo molestias officiis tenetur commodi at exercitationem eligendi deleniti
                vitae earum doloribus odit impedit ad cumque quidem nostrum incidunt.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <h3 class="mb-4">MY FOUCS</h3>
                <hr>
                <ul>
                    <li>UI/UX design</li>
                    <li>Responsive Design</li>
                    <li>Web Design</li>
                    <li>Mobile App Design</li>
                </ul>
            </div>
            <div class="col">
                <div class="progress bg-white">
                    <span class="bg-dark-subtle"><h5>HTML</h5></span>
                    <span style="width:99%" class="bg-dark"></span>
                </div>
                <div class="progress bg-white">
                    <span class="bg-dark-subtle"><h5>CSS</h5></span>
                    <span style="width:90%" class="bg-dark"></span>
                </div>
                <div class="progress bg-white">
                    <span class="bg-dark-subtle"><h5>Javascript</h5></span>
                    <span style="width:75%" class="bg-dark"></span>
                </div>
                <div class="progress bg-white">
                    <span class="bg-dark-subtle"><h5>React</h5></span>
                    <span style="width:50%" class="bg-dark"></span>
                </div>
                <div class="progress bg-white">
                    <span class="bg-dark-subtle"><h5>Photshop</h5></span>
                    <span style="width:90%" class="bg-dark"></span>
                </div>
                <div class="progress bg-white">
                    <span class="bg-dark-subtle"><h5>AdobeXD</h5></span>
                    <span style="width:59%" class="bg-dark"></span>
                </div>
                <div class="progress bg-white">
                    <span class="bg-dark-subtle"><h5>Node js</h5></span>
                    <span style="width:60%" class="bg-dark"></span>
                </div>
                <div class="progress bg-white">
                    <span class="bg-dark-subtle"><h5>WordPress</h5></span>
                    <span style="width:50%" class="bg-dark"></span>
                </div>
            </div>
        </div>
    </div>
</div>
