<div class="container">
    <h1 class="mb-5">
        Portifolio
    </h1>

    <div class="card-cont">
        <div class="row">
            <div class=" col-lg-4 col-sm-12">
                <div class="card bg-dark">
                    <h3>Web Design</h3>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card bg-secondary">
                    <h3>Mobil Design</h3>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card bg-dark">
                    <h3>Logo Design</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-4 col-sm-12">
                <div class="card bg-secondary">
                    <h3>Web apllication development</h3>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card bg-dark">
                    <h3>Mobil apllication development</h3>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card bg-secondary">
                    <h3>PWA Development</h3>
                </div>
            </div>
        </div>
    </div>
</div>
